@model IEnumerable<PR_Top_Service_MVC.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Servicios</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Servicio
            </th>
            <th>
               Descripcion del problema
            </th>
            <th>
                Fecha para el servicio
            </th>
           
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdService">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.IdService">Eliminar</a>|
                 <a asp-controller="PagoQr" asp-action="Index"  asp-route-id="@item.IdService" >Pagar servicio</a>|
            </td>
        </tr>
}
    </tbody>
</table>
